@media (min-width: 980px) and (max-width: 1200px) {
    
    /* container */
    .container {
        max-width: 900px;
    }
    /* button*/
    .contact-button {
        padding: 10px 40px;
    }
    
    .reserve-button {
        padding: 10px 40px;
    }
    
    .logs-button {
        padding: 10px 40px;
    }
    /* section first and second*/
    .ticket__text {
        width: 360px;
    }
    .ticket__img img {
        width: 510px;
        height: 322px;
    }
    
    .ticket__text h1 {
        font-size: 45px;
    }
    
    .ticket__text p {
        font-size: 16px;
    }  
    
    .logs h2 {
        font-size: 45px;
        line-height: 1.15;
    }
    
    .logs p {
        font-size: 16px;
    }
    /* section third */
    .gallery div {
        width: 279px;
    }
    
    .gallery img {
        width: 279px;
        height: 182px;
    }
    
    .gallery h3 {
        font-size: 30px;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .gallery p {
        font-size: 15px;
    }
    
    .gallery-text {
        padding-top: 300px;
        padding-bottom: 50px;
        width: 600px;
    }
    
    .gallery-text h2 {
        font-size: 50px;
        line-height: 1.1;
    }
    
    .gallery-text p {
        font-size: 18px;
        margin-top: 20px;
    }
    /* section fourth*/
    .nature__left {
        width: 433px;
        height: 596px;
    }
    
    .nature__right img {
        width: 380px;
        height: 292px;
    }
    
    .nature__text {
        display: block;
        margin-top: 0;
        width: 320px;
    }
    
    .nature__text h3 {
        font-size: 27px;
        line-height: 1.25;
        text-decoration: underline;
        
    }

    .nature__text p {
        font-size: 15px;
        padding-top: 5px;
    }
    /* footer */
    .footer__nav h3 {
        font-size: 40px;
        margin-left: 30px;
        margin-top: 80px;
    }
    
    .footer__nav h5 {
        font-size: 18px;
        margin-left: 45px;
    }
    
    .footer__links ul {
        margin-left: 5px; 
    }

    .footer__links li {
        margin-bottom: 10px;   

    }

    .footer__links a {
        font-size: 15px;
    }


    footer p {
        font-size: 13px;
    }

    
}
@media (min-width: 768px) and (max-width: 979px){























